@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="pageTitle">Welcome</h1>
    <p class="pageDescription">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <div>
        @if (@User.Identity is not null && @User.Identity.IsAuthenticated)
        {
            <p>You are signed in! Below are the claims in your ID token. For more information, visit: <a href="https://learn.microsoft.com/azure/active-directory/develop/id-tokens">Microsoft identity platform ID tokens</a></p>

            <div  class="tokenClaims">
                @foreach (var item in @User.Claims)
                {
                    <span>@item.Type: </span>
                    <span>@item.Value</span>
                    <br />
                }
            </div>
        }
    </div>
</div>
